[Unit]
Description=Almost-DDNS
After=syslog.target network.target


[Service]
ExecStart=/home/greyia/workspace/almost-ddns/almost-ddns

[Install]
WantedBy=multi-user.target

